.App {
  text-align: center;
}

#nav-logo {
  width: 50px;
  height: auto;
}

#homepage-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vh;
  height: auto;
}

#account-username{
  font-size: 100px;
}

#quote{
  font-size: 40px;
  color: #c93c4a;
}

.notifications-dropdown{
  max-height: 150px;
  overflow-y: auto;
}
.alerts-list{
  list-style-type: none;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}

.alerts-list:hover{
  transition: .1s linear all;
  background-color: #c93c4a39;
}

.height-match {
  height: 550px;
}

#new-message {
  background: #333;
        color: white;
        font-weight: bold;
        padding: 4px 8px;
        font-size: 13px;
        border-radius: 4px;
}

#signup-text {
  font-size: 50px;
}

#chatbox{
  height: 100px;
  overflow: auto;
}

.sender {
  display: block;
  /* align-items: flex-end; */
  float: right;
  text-align: start;
  width: 35vw;
  background-color: rgba(180, 230, 180, 0.482);
  border: rgb(199, 235, 200);
  border-style: solid;
  overflow-wrap: break-word;
}

.receiver {
  display: inline-block;
  align-content: flex-start;
  text-align: start;
  flex-direction: row;
  background-color: rgba(216, 216, 216, 0.284);
  border: rgb(230, 230, 230);
  width: 35vw;
  border-style: solid;
  overflow-wrap: break-word;
}

.sender h6 {
  text-align: end;
}

.inbox-height {
  height: 75vh;
  grid-template-rows:auto 1fr;
  display: grid;
  grid-template-columns: 100%;
}


.fit-content {
  width: fit-content;
}